<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>IP管理页面</title>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
</head>
<body>
    <table border="1">
        <tr>
            <th>主机</th>
            <th>IP</th>
            <th>操作</th>
        </tr>
        {% for host in hosts %}
        <tr align="middle">
            <td width="80" class="host">{{ host.name }}</td>
            <td width="130" class="ip">{{ host.ip }}</td>
            <td><input type="button" onclick="change_ip(this)" value="拨号更换"></td>
        </tr>
        {% endfor %}
    </table>

</body>

<script type="text/javascript">
    function change_ip(elem){
        tr = $(elem).parents("tr");
        host_name = tr.children("td.host").text();
        ip = tr.children("td.ip");
        var result_ip = get_result(host_name);
        ip.text(result_ip);
    };

    function get_result(host) {
        var result_ip='';
        $.ajax({
            type:'post',
            url:'/change_ip',
            data:{
                hostname: host
            },
            async:false,
            dataType:'text',
            complete:function (result) {
                result_ip=($.trim(result.responseText))
            }
        });
        return result_ip;
    }
</script>
</html>
